/*
Template 2034 Iron Rush
http://www.tooplate.com/view/2034-iron-rush
*/

body {
	margin: 0px;
	padding: 0px;
	color: #201c1b;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.7em; 
	background-color: #fff;
	background-image: url(../images/tooplate_body.jpg);
	background-repeat: repeat-x;
	background-position: top;
}

a, a:link, a:visited { 
	color: #c20202; 
	font-weight: normal; 
	text-decoration: underline; 
	font-size: 12px; 
}

a:hover { 
	text-decoration: none; 
}

a.more { 
	display: inline-block; 
	float: right; 
	padding: 5px 24px 5px 0; 
	text-decoration: none; 
	font-weight: bold; 
	background: url(../images/tooplate_more.png) no-repeat center right; 
}

a.more:hover { 
	text-shadow: 1px 1px 1px #555; 
}

p { 
	margin: 0 0 10px 0; 
	padding: 0; 
}

img { 
	border: none; 
}

blockquote { 
	font-style: italic; 
	margin: 0 0 0 10px;
}

cite { 
	font-weight: bold; 
	color:#bd9213; 
}

cite span { 
	color: #e3dfae; 
}

em { 
	color: #bd9213; 
}

h1, h2, h3, h4, h5, h6 { color: #bd9213; font-weight: normal; }
h1 { font-size: 34px; margin: 0 0 20px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 15px; padding: 5px 0; }
h3 { font-size: 24px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.image_wrapper { 
	display: inline-block; 
	border: 1px solid #ccc; 
	padding: 3px; 
	background: none; 
	margin-bottom: 5px; 
}

.image_fl { 
	float: left; 
	margin: 3px 15px 0 0; 
}

.image_fr { 
	float: right; 
	margin: 3px 0 0 15px; 
}

.tooplate_list { 
	margin: 20px 0 20px 20px; 
	padding: 0; list-style: none; 
}

.tooplate_list li { 
	color:#c20202; 
	margin: 0; 
	padding: 0 0 0 20px; 
	background: url(../images/tooplate_list.png) no-repeat scroll 0 7px;  
}

.tooplate_list li a { 
	color: #c20202; 
	font-weight: normal; 
	font-size: 12px; 
	text-decoration: none; 
}

.tooplate_list li a:hover { 
	color: #c20202; 
}

#tooplate_body_wrapper {
	width: 100%;
	background: url(../images/tooplate_header.jpg) top center no-repeat;
}

#tooplate_wrapper {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
	background: url(../images/tooplate_header.jpg) top center no-repeat;
}

#tooplate_top_bar {
	width: 960px;
	height: 40px;
	padding: 5px 0;
}

a.social_btn { 
	display: block; 
	float: right; 
	padding: 5px 30px 5px 0; 
	color: #000; 
	margin-left: 5px; 
	margin-right: 5px;
	cursor: pointer; 
	font-size: 12px; 
	font-weight: 700; 
	text-shadow: 1px 1px 1px #493f2e; 
	text-decoration: none;
}

a.twitter { background: url(../images/tooplate_twitter.png) center right no-repeat }
a.facebook { background: url(../images/facebook.png) center right no-repeat }
a.social_btn:hover { color: #bd9213 }

#tooplate_header {
	width: 960px;
	height: 80px;
	padding: 10px 0;
}

#site_title { 
	float: left; 
}

#site_title h1 { 
	margin: 0; 
	padding: 20px 0 0; 
}

#site_title h1 a { 
	display: block; 
	width: 190px; 
	height: 40px; 
	color: #fff; 
	text-indent: -10000px; 
	background: url(../images/tooplate_logo.png) no-repeat top left; 
}

/* menu */

#tooplate_menu {
	float: right;
	width: 625px;
	height: 65px;
	margin: 0 auto;
}
#tooplate_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#tooplate_menu ul li {
	padding: 0;
	margin: 0;
	display: inline;
}

#tooplate_menu ul li a {
	float: left;
	display: block;
	width: 125px;
	height: 35px;
	padding: 30px 0 0 0;
	font-size: 18px;
	color: #bd9213;	
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	outline: none;
	border: none;
}
#tooplate_menu li ul {
    position: absolute;
    display: none;
    width: inherit;
  }
  #tooplate_menu li:hover ul {
  display: block;
}
#tooplate_menu ul li a:hover, #tooplate_menu ul .current {
	color: #fff;
	background: url(../images/tooplate_menu_hover.png) bottom center no-repeat;
}

/* end of menu */

/* end of menu */

#tooplate_middle { 
	clear: both;
	width: 900px;
	height: 240px;
	padding: 37px 30px 51px 30px; 
	overflow: hidden;
	background: url(../images/tooplate_middle.png) no-repeat;
}

#tooplate_middle_subpage { 
	clear: both;
	width: 960px;
	height: 120px;
	padding: 15px 0;
	margin-bottom: 20px;
	background: url(../images/tooplate_divider.jpg) top repeat-x;
}

#tooplate_middle_subpage h2 {
	color: #bd9213;
}

#tooplate_middle_subpage p {
	font-size: 18px;
	color: #7f6d4e;
}

#tooplate_main {
	clear: both;
	width: 960px;
	padding: 20px 0;
}

.col_w960 { width: 960px; margin-bottom: 40px }
.col_w600 { width: 600px }
.col_w450 { width: 450px }
.col_w300 { width: 300px }
.col_w200 { width: 200px; margin-right: 50px; }
.col_allw300 { width: 300px; float: left; margin-right: 30px }
.col_last { margin: 0 }

.fp_lp_box {
	display: block;
	clear: both;
	position: relative;
	width: 290px;
	height: 140px;
	padding: 4px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

.fp_lp_box  span {
	position: absolute;
	right: 0;
	bottom: 10px;
	width: 100px;
	height: 24px;
	text-align: center;
	background: url(../images/tooplate_lp_btn.png);
}

.fp_lp_box  span a {
	color: #fff;
}

.post_box { 
	clear: both; 
	margin-bottom: 30px; 
}

.post_box h2 { 
	font-size: 20px; 
	margin-bottom: 10px; 
}

.post_box p.post_meta { 
	margin-bottom: 0; 
}

.post_box p span.cat a { 
	color: #cb5c02; 
	font-weight: 400; 
}

.post_box img { 
	float: right; 
	width: 160px; 
	height: 160px; 
	padding: 4px; 
	border: 1px solid #ccc; 
	margin-left: 30px; 
}

.post_box a.more { 
	float: right; 
}

#map img { 
	width: 300px; 
	height: 190px; 
	border: 1px solid #999; 
	padding: 5px; 
}

.boxed
{	background-color: lightgrey;
    width: 300px;
    padding: 25px ;
    border: 30px ;
    margin: 25px;
    display: block;
}

#contact_form {
	width: 400px; 
	padding: 0px;
}

#contact_form form {
	margin: 0px;
	padding: 0px;
}

#contact_form form .input_field {
	width: 300px;
	padding: 5px;
	background: #fff;
	border: 1px solid #ccc;
	color: #333; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form label {
	display: block;
	width: 100px;
	margin-right: 10px;
	font-size: 14px;	
	color: #333;
}

#contact_form form textarea {
	width: 388px;
	height: 200px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 5px; 
	color: #333; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form .submit_btn {
	margin: 10px 0px;
	padding: 5px 14px;
	background: #fff;
	color: #333;
	border: 1px solid #ccc;
	font-size: 13px;
}


#tooplate_footer_wrapper {
	width: 100%;
	background: #1f1b1a;
	margin: bottom auto;

}

#tooplate_footer {
	width: 960px;
	padding: 30px 10px;
	color: #8b773a;
	margin: bottom auto;
	text-align: center;
}

#tooplate_copyright_wrapper {
	width: 100%;
	background: #000000;
	margin: bottom auto;
}
}

#tooplate_copyright {
	width: 960px;
	padding: 10px;
	color: #39302b;
	margin: bottom auto;
	text-align: center;
}

#section{
	display: inline-block;
	width:350px;
    float:left;
    padding:10px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    font-family: Verdana;
    white-space: nowrap;

}
#section div hover{
	display: block;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  *margin-bottom: -3px;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid black;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #444444;
  border: 1px solid #ccc;
  border: 1px solid #353535;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 11px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid white;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 24px;
  color: white;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  text-decoration: none;
  color: white;
  background-color: #1c1c1c;
  background-image: -moz-linear-gradient(top, #222222, #151515);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#151515));
  background-image: -webkit-linear-gradient(top, #222222, #151515);
  background-image: -o-linear-gradient(top, #222222, #151515);
  background-image: linear-gradient(to bottom, #222222, #151515);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222', endColorstr='#FF151515', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: white;
  text-decoration: none;
  outline: 0;
  background-color: #1c1c1c;
  background-image: -moz-linear-gradient(top, #222222, #151515);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#151515));
  background-image: -webkit-linear-gradient(top, #222222, #151515);
  background-image: -o-linear-gradient(top, #222222, #151515);
  background-image: linear-gradient(to bottom, #222222, #151515);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222', endColorstr='#FF151515', GradientType=0);
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #d8d8d8;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  cursor: default;
}


.open {
  *z-index: 1000;
}
.open > .dropdown-menu {
  display: block;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid black;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  -webkit-border-radius: 5px 5px 5px 0;
  -moz-border-radius: 5px 5px 5px 0;
  border-radius: 5px 5px 5px 0;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #111111;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: white;
}

.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.dropdown .dropdown-menu .nav-header {
  padding-left: 20px;
  padding-right: 20px;
}
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 14px 102px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #444444;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn2 {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 5px 20px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #bd9213;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: whitesmoke;
  
}

